.pagination {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.pageNumber:disabled,
.arrow:disabled {
  cursor: default;
}
.pageNumber,
.arrow {
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.pageNumber {
  padding: 8px;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination.dark .pageNumber,
.pagination.dark .arrow {
  background-color: #1b1a1a;
  color: white;
}
.pagination.light .pageNumber,
.pagination.light .arrow {
  background-color: #f5f4f4;
  color: black;
}
