.header {
  display: flex;
  width: 100%;
  padding: 12px 24px;
  border-bottom: 1px solid gray;
  background-color: #fff;
  flex-direction: column;
  gap: 12px;
}
.title {
  font-size: 28px;
}
.date {
  font-size: 16px;
}
