* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* font-family: 'Inter', 'sans-serif'; */
  /*   color: inherit;
  background-color: inherit; */
}
.container {
  padding: 24px;
  min-height: 100vh;
}

.app.dark .container {
  background-color: #1b1a1a;
}
.app.dark p,
.app.dark h1,
.app.dark h3 {
  color: #fff;
}

.app.light .container {
  background-color: #f5f4f4;
}
.app.light p,
.app.light h1,
.app.light h3 {
  color: #131111;
}
